<form action="/admin/login" method="POST" id="form">
  <h2>Login Admin</h2>

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Username">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Password">
  
  <br>
  <button>Sign in</button>
  <br> 
  
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
</form>