
<div id="preloader"></div>
        <!--==========================
  Hero Section
  ============================-->
        <section id="hero">
            <div class="hero-container">
                <div class="wow fadeIn">
                    <div class="hero-logo">
                        <img class="" src="/images/logo1.png" alt="Logo PlatJob">
                    </div>

                    <h1>Welcome</h1>
                    <h2>Specialized in <span class="rotating">Web Development , UX/UI Desig</span></h2>
                    <div class="actions">
                        <a href="#about" class="btn-get-started">Get Strated</a>
                        <a href="#services" class="btn-services">Our Services</a>
                    </div>
                </div>
            </div>
        </section>

        <!--==========================
  Header Section
  ============================-->
        <header id="header">
            <div class="container">

                <div id="logo" class="pull-left">
                    <a href="#hero"><img src="/images/logo1.png" alt="" title="" /></img>
                    </a>
                </div>

                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        
                         <a href="/" class="smoothScroll">Home</a>
            {{#if blahUser}}
            <a href="/dashboard">{{blahUser.firstname}}</a>
            <a href="/logout">Log Out</a>
            {{else}}
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
            {{/if}}
                       
            </ul>
                        
                </nav>
                <!-- #nav-menu-container -->
            </div>
        </header>
        <!-- #header -->

        <!--==========================
  About Section
  ============================-->
        <section id="about">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-title">About Us</h3>
                        <div class="section-title-divider"></div>
                        <p class="section-description">To help people everywhere find jobs and companies they love.</p>
                    </div>
                </div>
            </div>
            <div class="container about-container wow fadeInUp">
                <div class="row">

                    <div class="col-lg-6 about-img">
                        <img src="images/about-img.jpg" alt="">
                    </div>

                    <div class="col-md-6 about-content">
                        <h2 class="about-title">What is PLATJob?</h2>
                        <p class="about-text">
                            PLAT Job is one of the fastest growing jobs and recruiting sites.
                        </p>
                        <p class="about-text">
                            For employers, PLATJob offers a space for effective recruitment of the best digital creators in Mexico.
                        </p>
                        <p class="about-text">
                            For the candidates we offer a link space with the best companies in Mexico.
                        </p>
                    </div>
                </div>
            </div>
        </section>



        <!--==========================
  Companies Section
  ============================-->
        <section id="companies">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-title">companies</h3>
                        <div class="section-title-divider"></div>
                        <p class="section-description">Work in the best companies in Mexico!</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <a class="companies-item" style="background-image: url(images/companies-1.png);" href="https://clip.mx/">
                            <div class="details">
                                <h4>CLip</h4>
                                <span>Con Clip, tu negocio vende más al aceptar todas las tarjetas en tu smartphone o tablet.</span>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a class="companies-item" style="background-image: url(images/companies-2.jpeg);" href="https://www.tucanton.com/">
                            <div class="details">
                                <h4>Tu Cantón</h4>
                                <span>Asesoría inmobiliaria gratuita</span>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a class="companies-item" style="background-image: url(images/companies-3.jpg);" href="https://bquate.com/home">
                            <div class="details">
                                <h4>Bquate</h4>
                                <span>Bquate is a full-stack premium music platform. </span>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a class="companies-item" style="background-image: url(images/companies-5.png);" href="https://www.circulodecredito.com.mx/">
                            <div class="details">
                                <h4>Círculo de Crédito</h4>
                                <span>Tu bienestar crediticio</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!--==========================
  Team Section
  ============================-->
        <section id="team">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-title">Our Team</h3>
                        <div class="section-title-divider"></div>
                        <p class="section-description">Our team can answer all your questions and show you how Ironhack is revolutionizing education in Mexico.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="member">
                            <div class="pic"><img src="images/team1.jpg" alt=""></div>
                            <h4>Paula Ibarra</h4>
                            <span>Admissions Director</span>
                            <div class="social">
                                <a href="https://twitter.com/ironhack?lang=es"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/ironhackMEX/"><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href="https://www.linkedin.com/in/paula-ibarra-005abb7a/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="member">
                            <div class="pic"><img src="images/team2.jpeg" alt=""></div>
                            <h4>Manon Pellat</h4>
                            <span>Growth Manager</span>
                            <div class="social">
                                <a href="https://twitter.com/ironhack?lang=es"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/ironhackMEX/"><i class="fa fa-facebook"></i></a>
                                <a href="https://plus.google.com/116400925567320005438"><i class="fa fa-google-plus"></i></a>
                                <a href="https://www.linkedin.com/in/manon-pellat-bravo-821a6659/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="member">
                            <div class="pic"><img src="images/team3.jpg" alt=""></div>
                            <h4>Anahí Flores</h4>
                            <span>Program Manager</span>
                            <div class="social">
                                <a href="https://twitter.com/ironhack?lang=es"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/ironhackMEX/"><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href="https://www.linkedin.com/in/anahiflores/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="member">
                            <div class="pic"><img src="images/team4.png" alt=""></div>
                            <h4>German Domínguez</h4>
                            <span>Lead Teacher</span>
                            <div class="social">
                                <a href="https://twitter.com/ironhack?lang=es"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/ironhackMEX/"><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href="https://www.linkedin.com/in/gdominguez/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!--==========================
  Contact Section
  ============================-->
        <section id="contact">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-title">Contact Us</h3>
                        <div class="section-title-divider"></div>
                        <p class="section-description">
                            Do you want to publish your vacancies?</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-md-push-2">
                        <div class="info">
                            <div>
                                <i class="fa fa-map-marker"></i>
                                <p>Ironhack Mexico City<br>Insurgentes Sur 601, Nápoles, 03810</p>
                            </div>

                            <div>
                                <i class="fa fa-envelope"></i>
                                <p>info@example.com</p>
                            </div>

                            <div>
                                <i class="fa fa-phone"></i>
                                <p>+1 5255 9999 8888</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-5 col-md-push-2">
                        <div class="form">
                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="text-center"><button type="submit">Send Message</button></div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!--==========================
  Footer
============================-->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            &copy; Copyright <strong>Web Development Bootcamp project</strong>
                        </div>
                        <div class="privacy">
                            <a href="https://www.ironhack.com/es/avisos-legales">Notice of Privacy</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- #footer -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
