{{!-- <video preload="none" loop autoplay="true" poster="/public/images/intro.png" src="/public/video/intro.mp4"></video> --}}
<h1>Welcome to {{title}}</h1>

<form method="get" action="/page1">
  <button type="button">Empresa</button>
</form>

<form method="get" action="/page2">
  <button type="button">IronHacker</button>
</form>
  
  
