{{!-- <video preload="none" loop autoplay="true" poster="/public/images/intro.png" src="/public/video/intro.mp4"></video> --}}
<h1>Welcome to {{title}}</h1>

<h3>Please, select your role:</h3>

<form action="./login-adm">
  <button>Admin Login</button>
</form>

<form action="./login">
  <button>IronHacker</button>
  <button>Empleador</button>
</form>