{{!-- <video preload="none" loop autoplay="true" poster="/public/images/intro.png" src="/public/video/intro.mp4"></video> --}}
<h1>Welcome to {{title}}</h1>

<div id="container">
  <a href="./signup">Sign up</a><br>
  <a href="./login">Login</a><br>
</div>