{{!-- <video preload="none" loop autoplay="true" poster="/public/images/intro.png" src="/public/video/intro.mp4"></video> --}}
<h1>Welcome to {{title}}</h1>

<h3>Please, select your role:</h3>
<select name="role">
  <option value="ADMIN" onclick="window.location.href='/login'">Admin</option>
  <option value="IRONHACKER" onclick="window.location.href='/login'">IronHacker</option>
  <option value="COMPANY" onclick="window.location.href='/login">Company</option>
</select>