body {
  background: white;
  color: #666666;
  font-family: "Open Sans", sans-serif; }

a {
  color: #03C4EB;
  transition: 0.5s; }

a:hover,
a:active,
a:focus {
  color: #03c5ec;
  outline: none;
  text-decoration: none; }

p {
  padding: 0;
  margin: 0 0 30px 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 60px 0;
  padding: 0; }

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("./images/preloader.svg") no-repeat center center; }

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s; }

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px; } }

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none; }

.back-to-top:hover {
  background: #03C4EB;
  color: #fff; }

/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../images/hero-bg.jpg) top center;
  background-size: cover; }

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed; } }

#hero .hero-logo {
  margin: 100px; }

#hero .hero-logo img {
  max-width: 50%; }

#hero .hero-container {
  background: rgba(0, 0, 0, 0.8);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle; }

#hero h1 {
  margin: 30px 0 10px 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff; }

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px; } }

#hero h2 {
  color: #999;
  margin-bottom: 50px; }

@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px; }
  #hero h2 .rotating {
    display: block; } }

#hero .rotating > .animated {
  display: inline-block;
  color: #03C4EB; }

#hero .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px; }

#hero .btn-get-started {
  background: #03C4EB;
  border: 2px solid #03C4EB;
  color: #fff; }

#hero .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff; }

#hero .btn-services {
  border: 2px solid #fff;
  color: #fff; }

#hero .btn-services:hover {
  background: #03C4EB;
  border: 2px solid #03C4EB; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #111;
  padding: 20px 0;
  height: 90px; }

#header #logo {
  float: left; }

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase; }

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff; }

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 40px; }

@media (max-width: 768px) {
  #header {
    height: 80px; }
  #header #logo h1 {
    font-size: 26px; }
  #header #logo img {
    max-height: 40px; } }

.is-sticky #header {
  background: rgba(0, 0, 0, 0.85); }

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99; }

.nav-menu li {
  position: relative;
  white-space: nowrap; }

.nav-menu > li {
  float: left; }

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block; }

.nav-menu ul ul {
  top: 0;
  left: 100%; }

.nav-menu ul li {
  min-width: 180px; }

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px; }

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal; }

.sf-arrows ul .sf-with-ul:after {
  content: "\f105"; }

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 5px 0; }

@media (max-width: 768px) {
  #nav-menu-container {
    display: none; } }

/* Nav Meu Styling */
.nav-menu a {
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 14px;
  outline: none; }

.nav-menu a:hover,
.nav-menu li:hover > a,
.nav-menu .menu-active > a {
  color: #03C4EB; }

.nav-menu ul {
  margin: 4px 0 0 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08); }

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4; }

.nav-menu ul li:first-child {
  border-top: 0; }

.nav-menu ul li:hover {
  background: #f6f6f6; }

.nav-menu ul li a {
  color: #333; }

.nav-menu ul ul {
  margin: 0; }

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none; }

#mobile-nav-toggle i {
  color: #fff; }

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline; } }

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s; }

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#mobile-nav ul li {
  position: relative; }

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none; }

#mobile-nav ul li a:hover {
  color: #fff; }

#mobile-nav ul li li {
  padding-left: 30px; }

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff; }

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #03C4EB; }

#mobile-nav ul .menu-item-active {
  color: #03C4EB; }

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none; }

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden; }

body.mobile-nav-active #mobile-nav {
  left: 0; }

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff; }

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Common
--------------------------------*/
.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700; }

.section-description {
  text-align: center;
  margin-bottom: 40px; }

.section-title-divider {
  width: 50px;
  height: 3px;
  background: #03C4EB;
  margin: 0 auto;
  margin-bottom: 20px; }

/* Get Started Section
--------------------------------*/
#about {
  background: #fff;
  padding: 80px 0; }

#about .about-img {
  overflow: hidden; }

#about .about-img img {
  max-width: 100%; }

@media (max-width: 768px) {
  #about .about-img {
    height: auto; }
  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px; } }

#about .about-content {
  background: #fff; }

#about .about-title {
  color: #333;
  font-weight: 700;
  font-size: 28px; }

#about .about-text {
  line-height: 26px;
  margin-bottom: 15px; }

#about .about-text:last-child {
  margin-bottom: 0; }

/* companies Section
--------------------------------*/
#companies {
  background: #fff;
  padding: 80px 0; }

#companies .companies-item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 260px;
  width: 100%;
  display: table;
  overflow: hidden;
  margin-bottom: 30px; }

#companies .companies-item .details {
  height: 260px;
  background: #fff;
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  transition: 0.3s;
  text-align: center; }

#companies .companies-item .details h4 {
  font-size: 16px;
  transition: transform 0.3s, opacity 0.3s;
  transform: translate3d(0, -15px, 0);
  font-weight: 700;
  color: #333333; }

#companies .companies-item .details span {
  display: block;
  color: #666666;
  font-size: 13px;
  transition: transform 0.3s, opacity 0.3s;
  transform: translate3d(0, 15px, 0); }

#companies .companies-item:hover .details {
  opacity: 0.8; }

#companies .companies-item:hover .details h4 {
  transform: translate3d(0, 0, 0); }

#companies .companies-item:hover .details span {
  transform: translate3d(0, 0, 0); }

/* Team Section
--------------------------------*/
#team {
  background: #fff;
  padding: 80px 0 60px 0; }

#team .member {
  text-align: center;
  margin-bottom: 20px; }

#team .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px; }

#team .member .pic img {
  max-width: 100%; }

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px; }

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px; }

#team .member .social {
  margin-top: 15px; }

#team .member .social a {
  color: #b3b3b3; }

#team .member .social a:hover {
  color: #03C4EB; }

#team .member .social i {
  font-size: 18px;
  margin: 0 2px; }

/* Contact Section
--------------------------------*/
#contact {
  background: #f7f7f7;
  padding: 80px 0; }

#contact .info {
  color: #333333; }

#contact .info i {
  font-size: 32px;
  color: #03C4EB;
  float: left; }

#contact .info p {
  padding: 0 0 10px 50px;
  line-height: 24px; }

#contact .form #sendmessage {
  color: #03C4EB;
  border: 1px solid #03C4EB;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px; }

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px; }

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block; }

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px; }

#contact .form input,
#contact .form textarea {
  border-radius: 0;
  box-shadow: none; }

#contact .form button[type="submit"] {
  background: #03C4EB;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s; }

#contact .form button[type="submit"]:hover {
  background: #25d8fc; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #111;
  padding: 30px 0;
  color: #fff; }

#footer .copyright {
  text-align: center; }

#footer .privacy {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc; }

/*Login*/
h1 {
  text-align: center; }

form {
  margin: 0 auto;
  width: 300px; }

input {
  margin-bottom: 3px;
  padding: 10px;
  width: 100%;
  border: 1px solid #CCC; }

button {
  padding: 10px; }

label {
  cursor: pointer; }

#form-switch {
  display: none; }

#register-form {
  display: none; }

#form-switch:checked ~ #register-form {
  display: block; }

#form-switch:checked ~ #login-form {
  display: none; }

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
body {
  margin-top: 20px;
  background: #eee; }

.profile-widget {
  position: relative; }

.profile-widget .image-container {
  background-size: cover;
  background-position: center;
  padding: 190px 0 10px; }

.profile-widget .image-container .profile-background {
  width: 100%;
  height: auto; }

.profile-widget .image-container .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto -60px;
  display: block; }

.profile-widget .details {
  padding: 50px 15px 15px;
  text-align: center; }

/* Component: Mini Profile Widget */
.mini-profile-widget .image-container .avatar {
  width: 180px;
  height: 180px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background: white;
  padding: 4px;
  border: 1px solid #dddddd; }

.mini-profile-widget .details {
  text-align: center; }

/* Component: Panel */
.panel {
  border-radius: 0;
  margin-bottom: 30px; }

.panel.solid-color {
  color: white; }

.panel .panel-heading {
  border-radius: 0;
  position: relative; }

.panel .panel-heading > .controls {
  position: absolute;
  right: 10px;
  top: 12px; }

.panel .panel-heading > .controls .nav.nav-pills {
  margin: -8px 0 0 0; }

.panel .panel-heading > .controls .nav.nav-pills li a {
  padding: 5px 8px; }

.panel .panel-heading .clickable {
  margin-top: 0px;
  font-size: 12px;
  cursor: pointer; }

.panel .panel-heading.no-heading-border {
  border-bottom-color: transparent; }

.panel .panel-heading .left {
  float: left; }

.panel .panel-heading .right {
  float: right; }

.panel .panel-title {
  font-size: 16px;
  line-height: 20px; }

.panel .panel-title.panel-title-sm {
  font-size: 18px;
  line-height: 28px; }

.panel .panel-title.panel-title-lg {
  font-size: 24px;
  line-height: 34px; }

.panel .panel-body {
  font-size: 13px; }

.panel .panel-body > .body-section {
  margin: 0px 0px 20px; }

.panel .panel-body > .body-section > .section-heading {
  margin: 0px 0px 5px;
  font-weight: bold; }

.panel .panel-body > .body-section > .section-content {
  margin: 0px 0px 10px; }

.panel-white {
  border: 1px solid #dddddd; }

.panel-white > .panel-heading {
  color: black;
  background-color: #fff;
  border-color: #ddd; }

.panel-white > .panel-footer {
  background-color: #fff;
  border-color: #ddd; }

.panel-primary {
  border: 1px solid #dddddd; }

.panel-purple {
  border: 1px solid #dddddd; }

.panel-purple > .panel-heading {
  color: #fff;
  background-color: #8e44ad;
  border: none; }

.panel-purple > .panel-heading .panel-title a:hover {
  color: #f0f0f0; }

.panel-light-purple {
  border: 1px solid #dddddd; }

.panel-light-purple > .panel-heading {
  color: #fff;
  background-color: #9b59b6;
  border: none; }

.panel-light-purple > .panel-heading .panel-title a:hover {
  color: #f0f0f0; }

.panel-blue,
.panel-info {
  border: 1px solid #dddddd; }

.panel-blue > .panel-heading,
.panel-info > .panel-heading {
  color: #fff;
  background-color: #2980b9;
  border: none; }

.panel-blue > .panel-heading .panel-title a:hover,
.panel-info > .panel-heading .panel-title a:hover {
  color: #f0f0f0; }

.panel-light-blue {
  border: 1px solid #dddddd; }

.panel-light-blue > .panel-heading {
  color: #fff;
  background-color: #3498db;
  border: none; }

.panel-light-blue > .panel-heading .panel-title a:hover {
  color: #f0f0f0; }

.panel-green,
.panel-success {
  border: 1px solid #dddddd; }

.panel-green > .panel-heading,
.panel-success > .panel-heading {
  color: #fff;
  background-color: #27ae60;
  border: none; }

.panel-green > .panel-heading .panel-title a:hover,
.panel-success > .panel-heading .panel-title a:hover {
  color: #f0f0f0; }

.panel-light-green {
  border: 1px solid #dddddd; }

.panel-light-green > .panel-heading {
  color: #fff;
  background-color: #2ecc71;
  border: none; }

.panel-light-green > .panel-heading .panel-title a:hover {
  color: #f0f0f0; }

.panel-orange,
.panel-warning {
  border: 1px solid #dddddd; }

.panel-orange > .panel-heading,
.panel-warning > .panel-heading {
  color: #fff;
  background-color: #e82c0c;
  border: none; }

.panel-orange > .panel-heading .panel-title a:hover,
.panel-warning > .panel-heading .panel-title a:hover {
  color: #f0f0f0; }

.panel-light-orange {
  border: 1px solid #dddddd; }

.panel-light-orange > .panel-heading {
  color: #fff;
  background-color: #ff530d;
  border: none; }

.panel-light-orange > .panel-heading .panel-title a:hover {
  color: #f0f0f0; }

.panel-red,
.panel-danger {
  border: 1px solid #dddddd; }

.panel-red > .panel-heading,
.panel-danger > .panel-heading {
  color: #fff;
  background-color: #d40d12;
  border: none; }

.panel-red > .panel-heading .panel-title a:hover,
.panel-danger > .panel-heading .panel-title a:hover {
  color: #f0f0f0; }

.panel-light-red {
  border: 1px solid #dddddd; }

.panel-light-red > .panel-heading {
  color: #fff;
  background-color: #ff1d23;
  border: none; }

.panel-light-red > .panel-heading .panel-title a:hover {
  color: #f0f0f0; }

.panel-pink {
  border: 1px solid #dddddd; }

.panel-pink > .panel-heading {
  color: #fff;
  background-color: #fe31ab;
  border: none; }

.panel-pink > .panel-heading .panel-title a:hover {
  color: #f0f0f0; }

.panel-light-pink {
  border: 1px solid #dddddd; }

.panel-light-pink > .panel-heading {
  color: #fff;
  background-color: #fd32c0;
  border: none; }

.panel-light-pink > .panel-heading .panel-title a:hover {
  color: #f0f0f0; }

.panel-group .panel {
  border-radius: 0; }

.panel-group .panel + .panel {
  margin-top: 0;
  border-top: 0; }

.bg-blue,
.bg-info {
  background-color: #2980b9 !important; }

.bg-light-blue {
  background-color: #3498db !important; }

.bg-red,
.bg-danger {
  background-color: #d40d12 !important; }

.bg-light-red {
  background-color: #ff1d23 !important; }

.bg-purple {
  background-color: #8e44ad !important; }

.bg-light-purple {
  background-color: #9b59b6 !important; }

.bg-green,
bg-success {
  background-color: #27ae60 !important; }

.bg-light-green {
  background-color: #2ecc71 !important; }

.bg-orange,
.bg-warning {
  background-color: #e82c0c !important; }

.bg-light-orange {
  background-color: #ff530d !important; }

.bg-pink {
  background-color: #fe31ab !important; }

.bg-light-pink {
  background-color: #fd32c0 !important; }

.color-white {
  color: white !important; }

.color-green,
.text-success {
  color: #27ae60 !important; }

.color-light-green {
  color: #2ecc71 !important; }

.color-blue,
.text-info {
  color: #2980b9 !important; }

.color-light-blue {
  color: #3498db !important; }

.color-orange,
.text-warning {
  color: #e82c0c !important; }

.color-light-orange {
  color: #ff530d !important; }

.color-red,
.text-danger {
  color: #d40d12 !important; }

.color-light-red {
  color: #ff1d23 !important; }

.color-purple {
  color: #8e44ad !important; }

.color-light-purple {
  color: #9b59b6 !important; }

.color-pink {
  color: #fe31ab !important; }

.color-light-pink {
  color: #fd32c0 !important; }

.border-green {
  border: 4px solid #27ae60 !important; }

.border-light-green {
  border: 4px solid #2ecc71 !important; }

.border-blue {
  border: 4px solid #2980b9 !important; }

.border-light-blue {
  border: 4px solid #3498db !important; }

.border-orange {
  border: 4px solid #e82c0c !important; }

.border-light-orange {
  border: 4px solid #ff530d !important; }

.border-red {
  border: 4px solid #d40d12 !important; }

.border-light-red {
  border: 4px solid #ff1d23 !important; }

.border-purple {
  border: 4px solid #8e44ad !important; }

.border-light-purple {
  border: 4px solid #9b59b6 !important; }

.border-pink {
  border: 4px solid #fe31ab !important; }

.border-light-pink {
  border: 4px solid #fd32c0 !important; }

.border-top-green {
  border-top: 4px solid #27ae60 !important; }

.border-top-light-green {
  border-top: 4px solid #2ecc71 !important; }

.border-top-blue {
  border-top: 4px solid #2980b9 !important; }

.border-top-light-blue {
  border-top: 4px solid #3498db !important; }

.border-top-orange {
  border-top: 4px solid #e82c0c !important; }

.border-top-light-orange {
  border-top: 4px solid #ff530d !important; }

.border-top-red {
  border-top: 4px solid #d40d12 !important; }

.border-top-light-red {
  border-top: 4px solid #ff1d23 !important; }

.border-top-purple {
  border-top: 4px solid #8e44ad !important; }

.border-top-light-purple {
  border-top: 4px solid #9b59b6 !important; }

.border-top-pink {
  border-top: 4px solid #fe31ab !important; }

.border-top-light-pink {
  border-top: 4px solid #fd32c0 !important; }

.border-right-green {
  border-right: 4px solid #27ae60 !important; }

.border-right-light-green {
  border-right: 4px solid #2ecc71 !important; }

.border-right-blue {
  border-right: 4px solid #2980b9 !important; }

.border-right-light-blue {
  border-right: 4px solid #3498db !important; }

.border-right-orange {
  border-right: 4px solid #e82c0c !important; }

.border-right-light-orange {
  border-right: 4px solid #ff530d !important; }

.border-right-red {
  border-right: 4px solid #d40d12 !important; }

.border-right-light-red {
  border-right: 4px solid #ff1d23 !important; }

.border-right-purple {
  border-right: 4px solid #8e44ad !important; }

.border-right-light-purple {
  border-right: 4px solid #9b59b6 !important; }

.border-right-pink {
  border-right: 4px solid #fe31ab !important; }

.border-right-light-pink {
  border-right: 4px solid #fd32c0 !important; }

.border-bottom-green {
  border-bottom: 4px solid #27ae60 !important; }

.border-bottom-light-green {
  border-bottom: 4px solid #2ecc71 !important; }

.border-bottom-blue {
  border-bottom: 4px solid #2980b9 !important; }

.border-bottom-light-blue {
  border-bottom: 4px solid #3498db !important; }

.border-bottom-orange {
  border-bottom: 4px solid #e82c0c !important; }

.border-bottom-light-orange {
  border-bottom: 4px solid #ff530d !important; }

.border-bottom-red {
  border-bottom: 4px solid #d40d12 !important; }

.border-bottom-light-red {
  border-bottom: 4px solid #ff1d23 !important; }

.border-bottom-purple {
  border-bottom: 4px solid #8e44ad !important; }

.border-bottom-light-purple {
  border-bottom: 4px solid #9b59b6 !important; }

.border-bottom-pink {
  border-bottom: 4px solid #fe31ab !important; }

.border-bottom-light-pink {
  border-bottom: 4px solid #fd32c0 !important; }

.border-left-green {
  border-left: 4px solid #27ae60 !important; }

.border-left-light-green {
  border-left: 4px solid #2ecc71 !important; }

.border-left-blue {
  border-left: 4px solid #2980b9 !important; }

.border-left-light-blue {
  border-left: 4px solid #3498db !important; }

.border-left-orange {
  border-left: 4px solid #e82c0c !important; }

.border-left-light-orange {
  border-left: 4px solid #ff530d !important; }

.border-left-red {
  border-left: 4px solid #d40d12 !important; }

.border-left-light-red {
  border-left: 4px solid #ff1d23 !important; }

.border-left-purple {
  border-left: 4px solid #8e44ad !important; }

.border-left-light-purple {
  border-left: 4px solid #9b59b6 !important; }

.border-left-pink {
  border-left: 4px solid #fe31ab !important; }

.border-left-light-pink {
  border-left: 4px solid #fd32c0 !important; }

.bg2 {
  background-image: url("https://previews.123rf.com/images/dr911/dr9111202/dr911120200027/12377615-un-c%C3%B3digo-binario-de-fondo-azul.jpg"); }

.btn-blue {
  background-color: #3498db;
  border-color: #3498db;
  color: white; }

.btn-blue:hover,
.btn-blue:visited {
  background-color: #2980b9;
  color: white; }

.btn-green {
  background-color: #2ecc71;
  border-color: #27ae60;
  color: white; }

.btn-green:hover,
.btn-green:visited {
  background-color: #27ae60;
  color: white; }

.btn-orange {
  background-color: #ff530d;
  border-color: #e82c0c;
  color: white; }

.btn-orange:hover,
.btn-orange:visited {
  background-color: #e82c0c;
  color: white; }

.btn-red {
  background-color: #ff1d23;
  border-color: #d40d12;
  color: white; }

.btn-red:hover,
.btn-red:visited {
  background-color: #d40d12;
  color: white; }

.btn-purple {
  background-color: #9b59b6;
  border-color: #8e44ad;
  color: white; }

.btn-purple:hover,
.btn-purple:visited {
  background-color: #8e44ad;
  color: white; }

.btn-pink {
  background-color: #fd32c0;
  border-color: #fe31ab;
  color: white; }

.btn-pink:hover,
.btn-pink:visited {
  background-color: #fe31ab;
  color: white; }

.progress.progress-xs {
  height: 12px; }

/*# sourceMappingURL=style.css.map */