<h3>Create a new user</h3>
<form action="/create-user" method="POST" id="form-container">
  <label for="companyName">Company Name</label>
  <input id="companyName" type="companyName" name="firscompanyNametname" placeholder="Provide Company Name" required>
  <br>
  <br>
  <label for="foundation">Foundation Year</label>
  <input id="foundation" type="foundation" name="foundation" placeholder="Provide Foundation Year" required>
  <br>
  <br>
  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="Provide your Email" required>
  <br>
  <br>
  <label for="address">Address</label>
  <input id="address" type="text" name="address" placeholder="Set address" required>
  <br>
  <br>
  <label for="phoneNumber">Phone Number</label>
  <input id="phoneNumber" type="text" name="phoneNumber" placeholder="phoneNumber" required>
  <br>
  <br>
  <label for="address">Username</label>
  <input id="address" type="text" name="useaddressrname" placeholder="Set address" required>
  <br>
  <br>
  <label for="password">Password</label required>
  <input id="password" type="password" name="password" placeholder="Set a password">
  <br>
  <br>
  <select name="role" id="role" required>
    <option value="" disabled="disabled" selected="selected">--Please choose an option--</option>
    <option value="COMPANY">Company</option>
  </select>
  {{#if message}}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <br>
  <button>Create User</button>
</form>
<br>
<a href="/dashboard">Go to main page</a>